.btn {
  width: 250px;
  height: 60px;
  padding: 1.6rem 2rem;
  margin: .8rem 0;
  font-family: $font-secondary;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  opacity: .9;
  &--red {
    color: #fff;
    background-color: $color-red;
  }
}
.btn:hover {
  opacity: 1;
}
