.footer {
  color: #fff;
  background-color: $color-black;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    font-family: $font-secondary;
    line-height: 18px;
    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      @include respond(tab) {
        margin: 0 3rem;
      }
    }
    hr {
      display: none;
      flex-basis: 20%;
      overflow: hidden;
      border-color: rgba(114, 114, 114, 0.5);
      border-style: inset;
      border-width: 1px;
      margin-before: 0.5em;
      margin-after: 0.5em;
      margin-start: auto;
      margin-end: auto;
      @include respond(tab) {
        display: block;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    width: 14rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  &__copyright {
    text-align: center;
    p {
      display: block;
      margin: 0.2rem 0;
      font-family: $font-secondary;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 15px;
      color: #727272;
      text-decoration: underline;
    }
    span {
      display: none;
      margin: 0.2rem 0;
      font-family: $font-secondary;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 15px;
      color: #727272;
    }
    @include respond(tab) {
      p {
        display: inline-block;
      }
      span {
        display: inline;
      }
    }
  }
  &__link,
  &__link:visited {
    margin-top: 2rem;
    margin-bottom: 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 17px;
    color: $color-red;
  }
}
