.footer {
  color: #fff;
  background-color: $color-black;
  &__title {
    position: relative;
    padding-top: 6rem;
    font-family: $font-secondary;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    @include respond(tab) {
      margin: 1rem 3rem;
    }
  }
  &__title::before,
  &__title::after {
    position: absolute;
    bottom: 8px;
    display: none;
    height: 1.5px;
    background-color: rgba(114, 114, 114, .5);
    content: '';

    @include respond(tab) {
      display: inline-block;
      width: 17%;
    }

    @include respond(desktop) {
      width: 20%;
    }
  }
  &__title::before {
    left: 15%;
  }
  &__title::after {
    right: 15%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    width: 14rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  &__bottom {
    text-align: center;
    p {
      display: block;
      margin: .2rem 0;
      font-family: $font-secondary;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 15px;
      color: #727272;
      text-decoration: underline;
    }
    span {
      display: none;
      margin: .2rem 0;
      font-family: $font-secondary;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 15px;
      color: #727272;
    }

    @include respond(tab) {
      p {
        display: inline-block;
      }
      span {
        display: inline;
      }
    }
  }
  &__link,
  &__link:visited {
    margin-top: 2rem;
    margin-bottom: 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 17px;
    color: $color-red;
  }
}
