////////////////////////////////////////////////////
// BREAKPOINTS
////////////////////////////////////////////////////
// 1em = 16px
@mixin respond($breakpoint) {
  @if $breakpoint==tab {
    @media only screen and (min-width: 48em) {
      @content;
    } // 768px
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 80em) {
      @content;
    } //1280px
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
