.slider {
  &__section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    text-align: center;
    background-color: $color-black;

    @include respond(tab) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include respond(desktop) {
      justify-content: center;
    }
  }
  &__content {
    min-height: 300px;

    @include respond(tab) {
      max-width: 320px;
      padding: 3rem;
      text-align: left;
    }
  }
  &__title {
    max-width: 21rem;
    margin: 3rem auto .5rem;
    color: #fff;

    @include respond(tab) {
      margin: 0;
    }
  }
  &__video {
    margin: 2rem 0 6rem;

    @include respond(tab) {
      flex-basis: 60%;
      align-self: center;
    }

    @include respond(desktop) {
      flex-basis: 40%;
      margin-bottom: 0;
    }
    .iframe {
      width: 100%;
      height: 170px;

      @include respond(tab) {
        height: 250px;
      }

      @include respond(desktop) {
        height: 350px;
      }
    }
  }
  &__link,
  &__link:visited {
    position: absolute;
    bottom: 3rem;
    left: 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 19px;
    color: $color-red;
    text-align: center;
    text-decoration: underline;

    @include respond(tab) {
      bottom: 1.5rem;
      margin-left: 4rem;
      text-align: left;
    }

    @include respond(desktop) {
      bottom: 2.5rem;
      left: -20.5%;
      margin-left: 0;
      font-size: 1.1rem;
      text-align: center;
    }
  }
}

.glide {
  &__counter {
    margin: .5rem 0;
    font-family: $font-secondary;
    font-size: 4rem;
    font-weight: 800;
    line-height: 49px;
    color: $color-red;
  }
  &__text {
    width: 85%;
    margin: 0 auto 1rem;
    font-size: 12px;
    color: #fff;

    @include respond(tab) {
      width: 100%;
    }
  }
  &__controls {
    position: relative;
    display: inline-block;
    margin-top: 2rem;

    @include respond(tab) {
      margin: 1.5rem 2rem;
    }
  }
  &__bullets {
    display: flex;
  }
  &__bullet {
    width: 30px;
    height: 4px;
    margin: 0 .25em;
    background-color: rgba(255, 255, 255, .5);

    &--active {
      background-color: $color-red;
    }
  }
  &__arrow {
    position: absolute;
    top: -9px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    &--left {
      left: -27px;
    }
    &--right {
      right: -36px;
    }
    &-svg {
      width: 3rem;
      height: 3rem;
      fill: $color-red;
    }

    @include respond(desktop) {
      &--right {
        right: -42px;
      }
    }
  }
}
